[Desktop Entry]
Type=Application
Name=Beeper
Comment=Beeper: Unified Messenger
Exec=/usr/bin/beeper --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland --no-sandbox %U
Icon=/usr/share/icons/beeper.png
Terminal=false
Categories=Network;Chat;
StartupWMClass=Beeper
StartupNotify=true
