[Desktop Entry]
Type=Application
Name=SimpleX
Comment=SimpleX Chat, the first messaging network operating without user identifiers of any kind
Exec=/usr/bin/simplex --no-sandbox %U
Icon=simplex
Terminal=false
Categories=Network;Chat;
StartupWMClass=SimpleX
