[Desktop Entry]
Type=Application
Name=SimplexX
Comment=SimpleX Chat, the first messaging network operating without user identifiers of any kind
Exec=/usr/bin/simplex --no-sandbox %U
Icon=/usr/share/icons/beeper.png
Terminal=false
Categories=Network;Chat;
StartupWMClass=Beeper
